In the spirit of warming up for final projects, this weeks homework will be somewhat open-ended.
Actually, it will more like closed-ended and open-middled...

Different doctors with different backgrounds, trained in different places, etc., might behave differ-
ently. In other words, one doctor might have various biases relative to another. We hope not, at
least in critical situations, but doctors are people too.

Your job is to determine whether the 4 doctors in our data set are behaving essentially the same with
respect to measuring clump thickness, bland chromatin, and diagnosis of tumor type, or whether
any one of them seems to be different.

The submission should be a pdf that makes your case as though to a boss/hospital administrator;
it should make the case in enough detail to be convincing, but not in such detail that your boss
will hate you. 

For example, one doctor-to-doctor comparison can be described in some detail, but
the rest can be summarized with “Similar comparisons were made for ...”
Your final conclusion should be whether 

    1) everything seems okay with respect to the doctors or
    2) if there are any red flags that might warrent further scrutiny.

Do the analysis with an open mind. It’s not good to enter an analysis with a pre-conceived notion
of what you may or may not find.

In [6]:
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [7]:
bcd = pd.read_csv('./Data/breast_cancer_data.csv') #gu

In [8]:
#bcd

In [9]:
def hit_reset():
    #0
    bcd = pd.read_csv('./Data/breast_cancer_data.csv')
    #1
    bcd['patient_id'] = bcd['patient_id'].astype('string')
    #2
    split_dr_names = bcd["doctor_name"].str.split()
    surnames = split_dr_names.str[1]
    bcd['doctor_name'] = surnames
    #2
    for i in range(bcd['bare_nuclei'].shape[0]):
        if bcd['bare_nuclei'][i] == '?':
            bcd['bare_nuclei'] = bcd['bare_nuclei'].replace('?', '')
    #4
    bcd['bare_nuclei'] = pd.to_numeric(bcd['bare_nuclei'])
    
    return bcd
bcd = hit_reset()
bcd

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
0,1000025,5.0,1.0,1,1,2,1.0,3.0,1.0,1,benign,Doe
1,1002945,5.0,4.0,4,5,7,10.0,3.0,2.0,1,benign,Smith
2,1015425,3.0,1.0,1,1,2,2.0,3.0,1.0,1,benign,Lee
3,1016277,6.0,8.0,8,1,3,4.0,3.0,7.0,1,benign,Smith
4,1017023,4.0,1.0,1,3,2,1.0,3.0,1.0,1,benign,Wong
...,...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3.0,1.0,1,1,3,2.0,1.0,1.0,1,benign,Lee
695,841769,2.0,1.0,1,1,2,1.0,1.0,1.0,1,benign,Smith
696,888820,5.0,10.0,10,3,7,3.0,8.0,10.0,2,malignant,Lee
697,897471,4.0,8.0,6,4,3,4.0,10.0,6.0,1,malignant,Lee
698,897471,4.0,8.0,8,5,4,5.0,10.0,4.0,1,malignant,Wong

In [10]:
bcd.pivot_table(index = 'doctor_name', 
                 columns = 'class', 
                 values = 'bland_chromatin', 
                 aggfunc = 'std')

class          benign  malignant
doctor_name
Doe          1.003992   2.260453
Lee          1.014564   2.121920
Smith        0.943769   2.330202
Wong         1.303004   2.263846

In [11]:
bcd.pivot_table(index = 'doctor_name', 
                 columns = 'class', 
                 values = 'bland_chromatin', 
                 aggfunc = 'mean')

class          benign  malignant
doctor_name
Doe          2.000000   5.456140
Lee          2.067227   6.150000
Smith        1.980392   6.459459
Wong         2.388889   5.714286

In [12]:
bcd.pivot_table(index = 'doctor_name', 
                 columns = 'class', 
                 values = 'clump_thickness', 
                 aggfunc = 'mean')

class          benign  malignant
doctor_name
Doe          2.637795   7.586207
Lee          2.983471   6.600000
Smith        3.098039   7.356164
Wong         3.166667   7.265306

In [13]:
bcd.pivot_table(index = 'doctor_name', 
                 columns = 'class', 
                 values = 'clump_thickness', 
                 aggfunc = 'std')

class          benign  malignant
doctor_name
Doe          1.744239   2.464018
Lee          1.488755   2.394910
Smith        1.613739   2.299576
Wong         1.806013   2.555839

In [14]:
bcd.pivot_table(index = 'doctor_name', 
                 columns = 'class', 
                 values = 'bland_chromatin', 
                 aggfunc = 'count')

class        benign  malignant
doctor_name
Doe             126         57
Lee             119         60
Smith           102         74
Wong            108         49

In [15]:
bcd.pivot_table(index = 'doctor_name', 
                 columns = 'class', 
                 values = 'clump_thickness', 
                 aggfunc = 'count')

class        benign  malignant
doctor_name
Doe             127         58
Lee             121         60
Smith           102         73
Wong            108         49